.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
background:url('background1.jpg');
background-size: 1600px 900px;
}

h1 {
  margin: 30px;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  letter-spacing: 15px;
  word-spacing: 15px;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
